In [19]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

output_data_file = "../output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)
print(weather_api_key)

1d75023101ec17623ab7e495d5868fcd

In [11]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)
print(lat_lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)
len(cities)

<zip object at 0x7f7fa4081320>

611

In [12]:
city_df=pd.DataFrame({"City":cities})
city_df.head()

             City
0      georgetown
1  port elizabeth
2          bethel
3       taolanaro
4       busselton

In [18]:

city_df["Lat"]=""
city_df["Lng"]=""
city_df["Max Temp"]=""
city_df["Humidity"]=""
city_df["Cloudiness"]=""
city_df["Wind Speed"]=""
city_df["Country"]=""
city_df["Date"]=""
first=city_df.head(10)
first

             City Lat Lng Max Temp Humidity Cloudiness Wind Speed Country Date
0      georgetown
1  port elizabeth
2          bethel
3       taolanaro
4       busselton
5   belushya guba
6          albany
7    grand centre
8       havoysund
9         ushuaia

In [42]:
params={"key":weather_api_key}
url_lat="http://api.openweathermap.org/data/2.5/weather?"
units="imperial"
query_url = f"{url_lat}appid={weather_api_key}&units={units}&q="
print(query_url)
record=0
set_1=0
for index, row in first.iterrows():
    try:
        base_url="http://api.openweathermap.org/data/2.5/weather?"
        city=row["City"]
        params['address']=f"{city}"
        response = requests.get(query_url+city).json()
        first.loc[index,"Lng"]=response['coord']['lon']
        first.loc[index,"Max Temp"]=response["main"]["temp_max"]
        first.loc[index,"Humidity"]=response['main']['humidity']
        first.loc[index,"Cloudiness"]=response['clouds']['all']
        first.loc[index,"Wind Speed"]=response['wind']['speed']
        first.loc[index,"Country"]=response['sys']['country']
        first.loc[index,"Date"]=response['dt']
        print(f"Processing Record {record} of Set{set_1} | {city}")
        record +=1
        set_1+=1
    except:
        print(f"{city} is not found. Skipping..")
    

# pprint(response['coord']['lat'])

http://api.openweathermap.org/data/2.5/weather?appid=1d75023101ec17623ab7e495d5868fcd&units=imperial&q=
Processing Record 0 of Set0 | georgetown

/Users/priya.a/opt/anaconda3/envs/PythonDate/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/priya.a/opt/anaconda3/envs/PythonDate/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/Users/priya.a/opt/anaconda3/envs/PythonDate/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/Users/priya.a/opt/anaconda3/envs/PythonDate/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/priya.a/opt/anaconda3/envs/PythonDate/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/priya.a/opt/anaconda3/envs/PythonDate/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/priya.a/opt/anaconda3/envs/PythonDate/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Processing Record 1 of Set1 | port elizabeth
Processing Record 2 of Set2 | bethel
taolanaro is not found. Skipping..
Processing Record 3 of Set3 | busselton
belushya guba is not found. Skipping..
Processing Record 4 of Set4 | albany
grand centre is not found. Skipping..
Processing Record 5 of Set5 | havoysund
Processing Record 6 of Set6 | ushuaia

In [43]:
first

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,georgetown,5.41,100.34,87.8,70,20,3.36,MY,1603955585
1,port elizabeth,-33.92,25.57,66.2,82,0,3.36,ZA,1603955469
2,bethel,41.37,-73.41,48,100,1,3.36,US,1603955585
3,taolanaro,,,,,,,,
4,busselton,,115.33,80.01,22,0,5.91,AU,1603955354
5,belushya guba,,,,,,,,
6,albany,,-73.97,45,90,100,2.91,US,1603955550
7,grand centre,,,,,,,,
8,havoysund,,24.66,37.4,95,75,17.22,NO,1603955115
9,ushuaia,,-68.3,42.8,81,40,36.91,AR,1603954884